<html>
<head>
    <title>
        boxops deploy tool
    </title>
    <style>
        select
        {
            min-width: 250px;
        }
        input
        {
            min-width: 250px;
        }
        td
        {
            padding: 8px;
        }
    </style>
</head>
<body>
    <div style = "margin-left: 48px;">
        <form action = "{{ url_for('index') }}" method = "POST"
              onsubmit = "document.getElementById('deploy_submit').innerHTML = '<h2>Deploy takes up to 5 minutes. Wait.</h2>';">
            <table>
                <tr>
                    <td>
                        <label for = "the_stand_select">Stand:</label>
                    </td>
                    <td>
                        <select id = "the_stand_select" name = "the_stand">
                            {% if context.stands %}
                                {% for the_option in context.stands %}
                                    {% if context.the_stand == the_option %}
                                        <option selected>{{ the_option }}</option>
                                    {% else %}
                                        <option>{{ the_option }}</option>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for = "the_branch_input">Branch to deploy:</label>
                    </td>
                    <td>
                        {% if context.the_branch %}
                            <input id = "the_branch_input" type = "text" name = "the_branch" value = "{{ context.the_branch }}"><br>
                        {% else %}
                            <input id = "the_branch_input" type = "text" name = "the_branch" value = "master"><br>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan = 2 align = center>
                        {% if not context.deploy_in_progress %}
                            <div id = "deploy_submit">
                                <input id = "" type = "submit" name = "submit" value = "Deploy">
                            </div>
                        {% else %}
                            <h2>Deploy in progress, try 5 minutes later</h2>
                        {% endif %}
                        <hr>
                        <h1><a href="/">HOME</a></h1>
                    </td>
                </tr>
            </table>
        </form>
    </div>
<hr>
    {% if context.the_branch %}
        <b>The branch</b>: {{ context.the_branch }}<br>
    {% endif %}
    {% if context.the_stand %}
        <b>The stand</b>: {{ context.the_stand }}<br>
    {% endif %}
    {% if context.scenario_output %}
        <br>
        <br>
        {{ context.scenario_output|safe }}
    {% endif %}
</body>
</html>
